In [1]:
# 1. Create a string with your name and print it
name = "Dipankar Singh"
print(name)

Dipankar Singh

In [2]:
# 2. Find the length of the string "Hello World"
string_length = len("Hello World")
print(string_length)

11

In [3]:
# 3. Slice the first 3 characters from the string "Python Programming"
sliced_string = "Python Programming"[:3]
print(sliced_string)

Pyt

In [4]:
# 4. Convert the string "hello" to uppercase
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

In [5]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
replaced_string = "I like apple".replace("apple", "orange")
print(replaced_string)

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [8]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [9]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
list4 = [10, 20, 30, 40, 50]
list4.reverse()
print(list4)

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
# 12. Access the second-to-last element of the tuple (‘red’, ‘green’, ‘blue’, ‘yellow’).
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [17]:
# 14. Find the index of the element "cat" in the tuple (‘dog’, ‘cat’, ‘rabbit’).
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [19]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

SyntaxError: invalid non-printable character U+00A0 (1624472473.py, line 3)

In [20]:
#16. Create a set with the elements ‘a’, ‘b’, ‘c’ and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [21]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [22]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [24]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [26]:
# 21. Create a dictionary with the keys “name”, “age”, and “city”, and print it.
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [27]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {‘name’: ‘John’, ‘age’: 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# 23. Access the value associated with the key "name" in the dictionary {‘name’: ‘Alice’, ‘age’: 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [29]:
# 24. Remove the key "age" from the dictionary {‘name’: ‘Bob’, ‘age’: 22, ‘city’: ‘New York’}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# 25. Check if the key “city” exists in the dictionary {‘name’: ‘Alice’, ‘city’: ‘Paris’}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

SyntaxError: invalid non-printable character U+00A0 (3776191194.py, line 3)

In [31]:
# 26. Create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [32]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[33, 45, 56, 69, 96]

In [33]:
# 28. Create a list with strings and print the element at the third index.
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

In [34]:
# 29. Combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
# 30. Convert a list of strings into a set.
words = ['apple', 'banana', 'apple', 'cherry']
word_set = set(words)
print(word_set)

{'apple', 'banana', 'cherry'}